*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  width: 100%;
  height: 500vh;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./bg.jpg) center/cover;
  color: #fff;
  font-family: sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

nav h1{
  font-size: 2rem;
  color: red;
  font-family: sans-serif;
}

nav > ul li{
  list-style: none;
  display: inline-block;
  margin-right: 4rem;
  border: 2px solid ;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

nav ul li:hover{
  
  background-color: rgb(228, 21, 21);
}

main{
  text-align: center;
  margin: 2rem;
}

input{
  width: 30rem;
  height: 3rem;
  padding-left: 20px;
  font-size: 17px;
  margin-bottom: 5rem;
}

::placeholder{
  padding-left: 10px;
  font-size: 1rem;
}

.btn{
  background: red;
  width: 2.8rem;
  height: 3.09rem;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  transform: translateY(3px);
}

.container{
  display: inline-flex;
 
}

